# Configuración del servidor
PORT=3000
NODE_ENV=production

# Configuración de la aplicación
APP_MAX_SIZE=10mb

# Configuración del entorno
ENV_ENTORNO=production
ENV_CORS=*
ENV_SWAGGER_SHOW=true
ENV_SYNCHRONIZE=false

# Configuración de la base de datos (SQLite)
# La base de datos se montará como volumen en Docker
